@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Monda&display=swap');

:root {
    --color-gold: rgba(207, 149, 23, 0.911);
    --color-light-grey: #f1f1f1;
    --color-sea-blue: #4bbdff;  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.8s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    flex-direction: column;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    width: 100%;
    background-color: var(--color-gold);
}

.logo {
    position: absolute;
    top: 0;
    left: 20px;
    border: 1px solid var(--color-gold);
    border-top: none;
    z-index: 10;
    height: 111px;
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
}

li {
    margin: 30px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-sea-blue);
    width: 95%;
    position: absolute;
    top: 80px;
    height: 40px;
    border: 1px solid var(--color-gold);
}

.top-address {
    color: var(--color-light-grey);
    padding-right: 30px;
}

i {
    padding: 0 10px;
}

.welcome-section {
    min-height: 100vh;
}

.container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.underline {
    height: 3px;
    width: 5%;
    background-color: var(--color-gold);
    margin: 20px 0;
}

h2 {
    margin-top: 50px;
    font-weight: 100;
    font-size: 44px;
}

.photo {
    width: 400px;
    height: 280px;
    margin: 20px;
    border: 3px solid  var(--color-gold);
    border-radius: 4px;
    box-shadow: 12px 8px 12px -2px rgba(0,0,0,0.16);
}

.price {
    text-align: center;
    width: 120px;
    color: var(--color-gold);
    padding: 10px;
    border: 1px solid var(--color-gold);
    border-radius: 5px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.item-text {
    width: 50%;
}

.menu-item {
    border-bottom: 1px dotted var(--color-gold);
}

button {
    width: 120px;
    color: var(--color-gold);
    padding: 15px;
    border: 1px solid var(--color-gold);
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.call-round {
    padding: 10px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

button:hover {
    background-color: white;
}

.category-length {
    color: var(--color-gold);
    margin: 20px;
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-gold);
}

.section-center {
    min-height: 70vh;
}

button, a {
    color: var(--color-gold);
    text-decoration: none;
}